html {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100%;
  background: radial-gradient(#6b778d, #17223b);

}

#heading-left {
  font-size: 3rem;
}

.nav-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  padding: 30px 40px 40px 40px;
}

.list-items {
  display: flex;
  list-style: none;
}

.top-button {
  padding: 10px;
  border: none;
  margin: 5px;
  color: white;
  border-radius: 10px;
  transition: background-color;
  background-color: rgb(225, 103, 104);
}

button:hover {
  background-color: #ff6768;
}

.main-body {

}

.text-box {
  justify-content: center;
  align-items: center;
  display: flex;
}



#input-tag {
  font-size: 1.3rem ;
  resize: none;
  border-radius: 15px;
  width: 70%;
  outline: none;
  padding: 20px;
}

.footer-part {
  padding: 50px;
  display: flex;
  justify-content: center;

}